body {
    background-color: rgba(12,12,12,0.91);
}
#red-circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 5px;
}

#orange-circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 5px;
}
#green-circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 5px;
}